# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build artifacts
build/
dist/
*.spec

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log


# v PROJECT SPECIFIC v

# InnoSetup
installer_output/
installer.iss
*.iss

# Other stuff
IGNOOOOORE/
*_old.py
check-ytdlp.py